<div class="page-header">
    <h1>Welcome to Potion Collector!</h1>
</div>

<p>Potion Collector is the wizarding world's greatest (and only) online collector of the finest recipes with a little extra mojo.
(Since 2015).</p>
<p>Once we gathered all the greatest potions there are, we're gonna publish a book of these finest brews,
and if you contribute to it with even one recipe, you'll get a free copy before it hits the stores!</p>
<p>Get your cauldrons ready, the fun parts are to begin!</p>